<!-- deployment.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kubernetes Resource Creator</title>
</head>
<body>

<h2>Kubernetes Resource Creator - Deployment</h2>

<form action="/kubernetes/createDeployment" method="post" th:object="${kubernetesResource}">
    <!-- Common Fields -->
    <label for="name">Resource Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required/>

    <br/>

    <!-- Additional fields for Deployment -->
    <label for="deploymentNamespace">Deployment Namespace:</label>
    <input type="text" id="deploymentNamespace" name="deploymentNamespace" th:field="*{deploymentNamespace}" required/>

    <br/>

    <label for="deploymentDockerImage">Deployment Docker Image URL:</label>
    <input type="text" id="deploymentDockerImage" name="deploymentDockerImage" th:field="*{deploymentDockerImage}" required/>

    <br/>

    <label for="deploymentContainerName">Deployment Container Name:</label>
    <input type="text" id="deploymentContainerName" name="deploymentContainerName" th:field="*{deploymentContainerName}" required/>

    <br/>

    <label for="deploymentLabels">Deployment Labels:</label>
    <input type="text" id="deploymentLabels" name="deploymentLabels" th:field="*{deploymentLabels}" required/>

    <br/>

    <label for="deploymentMatchLabels">Deployment Match Labels:</label>
    <input type="text" id="deploymentMatchLabels" name="deploymentMatchLabels" th:field="*{deploymentMatchLabels}" required/>

    <br/>

    <button type="submit">Create Deployment</button>
</form>

</body>
</html>