<!-- job.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kubernetes Resource Creator</title>
</head>
<body>

<h2>Kubernetes Resource Creator - Job</h2>

<form action="/kubernetes/createJob" method="post" th:object="${kubernetesResource}">
    <!-- Common Fields -->
    <label for="name">Resource Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required/>

    <br/>

    <!-- Additional fields for Job -->
    <label for="namespace">Namespace:</label>
    <input type="text" id="namespace" name="namespace" th:field="*{namespace}" required/>

    <br/>

    <label for="jobDockerImage">Job Docker Image URL:</label>
    <input type="text" id="jobDockerImage" name="jobDockerImage" th:field="*{jobDockerImage}" required/>

    <br/>

    <label for="jobContainerName">Job Container Name:</label>
    <input type="text" id="jobContainerName" name="jobContainerName" th:field="*{jobContainerName}" required/>

    <br/>

    <button type="submit">Create Job</button>
</form>

</body>
</html>