<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Deployment</title>
</head>
<body>
<h2>Update Deployment</h2>
<form action="/kubernetes/updateDeployment" method="post">
  <input type="hidden" name="namespace" th:value="${namespace}" />
  <input type="hidden" name="deploymentName" th:value="${deploymentName}" />
  <label for="newImage">New Container Image:</label>
  <input type="text" id="newImage" name="newImage" th:value="${newImage}" required />
  <button type="submit">Update Deployment</button>
</form>
</body>
</html>